* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #fbfbfb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    word-spacing: 16px;
    text-align: center;
}

img {
    height: 150px;
    width: 150px;
}

.siteheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: sticky;
    padding: 1;
}

.container {
    background-color: white;
    margin-top: 4em;
    border-radius: 20px;
}

h2 {
    font-size: 30px;
    color: black;
    padding-top: 2em;
}

.yourOrders {
    margin-bottom: 1em;
}

hr {
    border-width: 0;
}

#menu {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

#selection {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-width: 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fbfbfb;
    margin-top: 2em;
}

select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-width: 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fbfbfb;
}

button {
    cursor: pointer;
    background-color: #01643D;
    border-width: 0;
    border-radius: 50px;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    text-align: center;
}